<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-sip" version="1.2.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>SIP - LinPhone</name>
  <description>A plugin to integrate linphone features to cordova</description>
  <license>MIT</license>
  <keywords>sip,cordova,phonegap,linphone,liblinphone</keywords>

  <engines>
    <engine name="cordova-android" version=">=4.0.0-dev" />
    <engine name="cordova-ios" version=">=4.0.0-dev" />
    <!-- <engine name="cordova-wp8" version=">=4.0.0-dev" /> -->
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-feature
          android:name="android.hardware.camera"
          android:required="false" />
      <uses-feature
          android:name="android.hardware.camera.autofocus"
          android:required="false" />
    </config-file>
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="android-package" value="com.sip.linphone.Linphone" />
      </feature>
    </config-file>

    <framework src="src/android/sip.gradle" custom="true" type="gradleReference" />

    <lib-file src="src/android/libs/linphone-sdk-android-4.2-120-g054b910.aar" />

    <source-file src="src/android/src/Linphone.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniActivity.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniManager.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneMiniUtils.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneContext.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneFirebaseMessaging.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphonePreferences.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneBootReceiver.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneStorage.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneWorker.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneDeviceUtils.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/src/LinphoneForegroundService.java" target-dir="src/com/sip/linphone" />
    <source-file src="src/android/res/layout-land/incall.xml" target-dir="res/layout-land" />
    <source-file src="src/android/res/layout-port/incall.xml" target-dir="res/layout-port" />
    <source-file src="src/android/res/layout/dialog.xml" target-dir="res/layout" />
    <source-file src="src/android/res/raw/linphonerc_default" target-dir="res/raw" />
    <source-file src="src/android/res/raw/linphonerc_factory" target-dir="res/raw" />
    <source-file src="src/android/res/raw/lpconfig.xsd" target-dir="res/raw" />
    <source-file src="src/android/res/raw/ringback.wav" target-dir="res/raw" />
    <source-file src="src/android/res/raw/rootca.pem" target-dir="res/raw" />
    <source-file src="src/android/res/raw/oldphone_mono.wav" target-dir="res/raw" />

    <!-- drawable src/android/resources -->
    <resource-file src="src/android/res/anim/alpha.xml" target="res/anim/alpha.xml" />
    <resource-file src="src/android/res/anim/alpha_reverse.xml" target="res/anim/alpha_reverse.xml" />
    <resource-file src="src/android/res/drawable/icon.png" target="res/drawable/icon.png" />
    <resource-file src="src/android/res/drawable/video_overlay.png" target="res/drawable/video_overlay.png" />
    <resource-file src="src/android/res/drawable/btn_open.xml" target="res/drawable/btn_open.xml" />
    <resource-file src="src/android/res/drawable/btn_answer.xml" target="res/drawable/btn_answer.xml" />
    <resource-file src="src/android/res/drawable/btn_reject.xml" target="res/drawable/btn_reject.xml" />
    <resource-file src="src/android/res/drawable/btn.png" target="res/drawable/btn.png" />
    <resource-file src="src/android/res/drawable/round_button.xml" target="res/drawable/round_button.xml" />
    <resource-file src="src/android/res/drawable/checkbox.xml" target="res/drawable/checkbox.xml" />
    <resource-file src="src/android/res/drawable/checkbox_checked.png" target="res/drawable/checkbox_checked.png" />
    <resource-file src="src/android/res/drawable/checkbox_unchecked.png" target="res/drawable/checkbox_unchecked.png" />

    <js-module src="www/cordova-plugins-sip.js" name="linphone">
      <merges target="cordova.plugins.sip" />
    </js-module>
    <config-file target="AndroidManifest.xml" parent="/*">
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
      <uses-permission android:name="android.permission.VIBRATE" />
      <uses-permission android:name="android.permission.RECORD_AUDIO" />
      <uses-permission android:name="android.permission.CAMERA" />
      <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
      <uses-permission android:name="android.permission.WAKE_LOCK" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.CALL_PHONE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
      <uses-feature android:name="android.hardware.microphone" android:required="true" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name="com.sip.linphone.LinphoneMiniActivity" android:theme="@android:style/Theme.Black.NoTitleBar" />
<!--       <service android:exported="false" android:name="com.sip.linphone.LinphoneFirebaseMessaging">
          <intent-filter>
              <action android:name="com.google.firebase.MESSAGING_EVENT" />
          </intent-filter>
      </service> -->
      <service android:enabled="true" android:exported="true" android:name="com.sip.linphone.LinphoneForegroundService">
      </service>
      <receiver android:name="com.sip.linphone.LinphoneBootReceiver">
          <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
              <action android:name="android.intent.action.ACTION_SHUTDOWN" />
              <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
          </intent-filter>
      </receiver>
    </config-file>
  </platform>

  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="ios-package" value="Linphone"/>
      </feature>
    </config-file>

    <hook type="after_plugin_install" src="scripts/after_plugin_install_ios.js" />

    <header-file src="src/ios/AppDelegate+linphone.h"/>
    <source-file src="src/ios/AppDelegate+linphone.m"/>
    <header-file src="src/ios/AudioHelper.h"/>
    <source-file src="src/ios/AudioHelper.m"/>
    <source-file src="src/ios/CallViewController.swift"/>
    <source-file src="src/ios/CoreManager.swift"/>
    <header-file src="src/ios/Linphone.h"/>
    <source-file src="src/ios/Linphone.m"/>
    <header-file src="src/ios/LinphoneManager.h"/>
    <source-file src="src/ios/LinphoneManager.m"/>
    <header-file src="src/ios/Log.h"/>
    <source-file src="src/ios/Log.m"/>
    <header-file src="src/ios/Utils.h"/>
    <source-file src="src/ios/Utils.m"/>

    <resource-file src="src/android/res/raw/ringback.wav"/>
    <resource-file src="src/android/res/raw/rootca.pem"/>
    <resource-file src="src/android/res/raw/oldphone_mono.wav"/>
    <resource-file src="src/ios/Resources/LinphoneAssets.xcassets" />
    <resource-file src="src/ios/Resources/Linphone.storyboard"/>
    <resource-file src="src/ios/Resources/linphonerc"/>
    <resource-file src="src/ios/Resources/linphonerc-factory"/>
    <resource-file src="src/ios/Resources/linphonerc~ipad"/>
    <resource-file src="src/ios/Resources/nowebcamCIF.jpg"/>
    <resource-file src="src/ios/Resources/Opening.caf"/>
    <resource-file src="src/ios/Resources/sounds/hold.mkv"/>
    <resource-file src="src/ios/Resources/sounds/ringtones/notes_of_the_optimistic.caf"/>

    <podspec>
        <config>
            <source url="https://gitlab.linphone.org/BC/public/podspec.git" />
        </config>
        <pods use-frameworks="true">
            <pod name="linphone-sdk" spec="4.4.1" />
            <pod name="linphone-sdk/basic-frameworks" spec="~> 4.4.1" />
            <pod name="linphone-sdk/app-extension-swift" spec="~> 4.4.1" />
        </pods>
    </podspec>
    <framework src="AVFoundation.framework" />
    <framework src="AudioToolbox.framework" />
    <framework src="CoreFoundation.framework" />
    <framework src="CoreMedia.framework" />
    <framework src="CoreData.framework" />
    <framework src="CoreAudio.framework" />
    <framework src="libz.tbd" />
    <framework src="libsqlite3.tbd" />
    <framework src="libresolv.tbd" />
    <framework src="libxml2.tbd" />
    <framework src="libc++.tbd" />
    <framework src="libc++abi.tbd" />

    <js-module src="www/cordova-plugins-sip.js" name="linphone">
      <merges target="cordova.plugins.sip" />
    </js-module>

    <preference name="CAMERA_USAGE_DESCRIPTION" default="This will allow ${PRODUCT_NAME} to make videocalls with Intercom."/>
    <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This will allow ${PRODUCT_NAME} to make talk with Intercom."/>
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
        <string>$MICROPHONE_USAGE_DESCRIPTION</string>
    </config-file>
  </platform>

  <!-- wp8 -->
  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="Linphone">
        <param name="wp-package" value="Linphone"/>
      </feature>
    </config-file>

    <source-file src="src/wp/Linphone.cs" />
  </platform>
</plugin>
